//  * background color
.theme--dark.v-application {
  background-color: #181818 !important;
}

// * Button Outlined

.button-outlined {
  border: solid white 2px !important;
  color: white !important;

  &:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    color: black !important;
  }
}

// * Button Contained
.button-contained {
  background-color: rgba(255, 255, 255, 1) !important;
  color: black !important;

  &:hover {
    border: solid white 2px !important;
    background-color: transparent !important;
    color: white !important;
  }
}

//* subtext for tags and search results
.subtext {
  width: 150px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &__title {
    font-size: 15px;
  }
  &__subtitle {
    font-size: 11px;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide--scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// * bordered image for followers and followings avatars
.bordered--image {
  border: 1px solid white;
  border-radius: 0.5rem;
  margin-right: 15px;
}

//* Scrollbar properties

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181818;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
