// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$body-font-family: 'Ubuntu', sans-serif;

$follows-font: 'Open Sans', sans-serif;

$text-field-outlined-fieldset-border-width: 3px !important;

$text-field-border-radius: 8px !important;

$text-field-enclosed-details-padding: 0 16px !important;

$text-field-filled-full-width-outlined-slot-min-height: 58px !important;

$btn-text-transform: capitalize !important;

$slider-track-width: 8px !important;
